 /*{
    border:solid;
}
*/
h1{
    color:blue;
}
.header{
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
    
}
p,h2{
    text-align: center;
    
}
.item{
    border:solid;
}
body{
    background-image: url("bgimg.jpg");
    background-repeat:no-repeat;
    background-size:1500px 1500px;
}